h1 { font-family: 'Script MT Bold','Monotype Corsiva', 'Lucida Calligraphy'; }

table { font-size: 15px; }

thead {
	background-color: #CCCCCC;
	font-family: Candara, sans-serif;
	font-size: 20px;
}

table, table thead th { text-align: center; }

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: grey;
  font-variant: small-caps;
  vertical-align: middle;
}

tbody tr td {
	font-family: monospace;
	text-align: center;
}

tbody tr td {
	font-family: monospace;
	text-align: center;
	font-size: 17px;
}

tbody tr td:first-child {
	font-size: 20px;
	font-weight: bold;
}

legend {
	font-size: 35px;
	font-family: 'Agency FB', 'Courier new', Verdana;
	font-variant: small-caps;
	font-weight: bolder;
}

.btn-block {
	border-radius: 12px;
	font-weight: bolder;
	font-family: sans-serif;
}

.panel {
	display: none;
	font-family: monospace;
}

.panel-title { font-weight: bolder; }

.panel-title, .panel-body { color: #CD8500; }

em {
	font-family: sans-serif;
	font-weight: bolder;
}