<!DOCTYPE html>
<html>
	<head>
		<title>QCM "Matière"</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/qcm.css">
	</head>

	<body>
		<div class="container-fluid">
			
			<div class="row">
				<header class="col-xs-12">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<p class="navbar-brand">Je Compose.com</p>
						</div>
					</nav>
				</header>
			</div>

			<div class="row">
				<section class="col-sm-6 col-sm-offset-3">
					<h1>Examen d'Administration sous Linux</h1><br>
					<form method="post" action="matieres.html">
						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 1</h3>
							</div>
							<div class="panel-body">
								<p>Que contient $* en shell ?</p>
							</div>
							<div class="panel-footer">
								<ul>
									<input type="radio" name="question1" value="proposition1"> le premier paramètre</br>
									<input type="radio" name="question1" value="proposition2"> la liste de tous les paramètres</br>
									<input type="radio" name="question1" value="proposition3"> le nombre de paramètre
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 2</h3>
							</div>
							<div class="panel-body">
								<p>Que fait cat > fich2 ?</p>
							</div>
							<div class="panel-footer">
								<ul>
									<input type="radio" name="question2" value="proposition1"> redirige ce qui est saisi au clavier dans fich2 </br>
									<input type="radio" name="question2" value="proposition2"> liste fich2 à l'écran </br>
									<input type="radio" name="question2" value="proposition3"> renvoie une erreur 
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 3</h3>
							</div>
							<div class="panel-body">
								<p>Quel fichier décrit les comptes utilisateurs ?</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question3" value="proposition1"> /etc/passwd </br> 
								   <input type="radio" name="question3" value="proposition2"> /root/users </br>
								   <input type="radio" name="question3" value="proposition3"> /usr/users 
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 4</h3>
							</div>
							<div class="panel-body">
								<p>"chmod u+w fichier1" attribue sur le fichier</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question4" value="proposition1"> le droit de lecture à tous les utilisateurs </br>
								   <input type="radio" name="question4" value="proposition2"> le droit d'exécution à tous les utilisateurs </br>
								   <input type="radio" name="question4" value="proposition3"> le droit d'écriture au propiétaire
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 5</h3>
							</div>
							<div class="panel-body">
								<p>A quel nom et numéro d'interruption correspond Ctrl\ ?</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question5" value="proposition1"> HUP 1 </br>
								   <input type="radio" name="question5" value="proposition2"> INT 2 </br>
								   <input type="radio" name="question5" value="proposition3"> TERM 15
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 6</h3>
							</div>
							<div class="panel-body">
								<p>Quelle commande permet de lancer xwindows ?</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question6" value="proposition1"> xwin </br>
								   <input type="radio" name="question6" value="proposition2"> xwindows </br>
								   <input type="radio" name="question6" value="proposition3"> startx
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 7</h3>
							</div>
							<div class="panel-body">
								<p>Quelle variable contient le prompt ?</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question7" value="proposition1"> $PATH </br>
								   <input type="radio" name="question7" value="proposition2"> $PS1 </br>
								   <input type="radio" name="question7" value="proposition3"> $PROMPT
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 8</h3>
							</div>
							<div class="panel-body">
								<p>Que donne "who | wc-l" ?</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question8" value="proposition1"> la liste des utilisateurs classés par date de connexion </br>
								   <input type="radio" name="question8" value="proposition2"> la liste des utilisateus classés par UID </br>
								   <input type="radio" name="question8" value="proposition3">  le nombre d'utilisateurs connectés
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 9</h3>
							</div>
							<div class="panel-body">
								<p>Dans "chmod o+r fichier1", "o" désigne</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question9" value="proposition1"> les invités </br>
								   <input type="radio" name="question9" value="proposition2"> les autres </br>
								   <input type="radio" name="question9" value="proposition3"> les propiétaires
								   
								</ul>
							</div>
						</article>

						<article class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title text-center">Question 10</h3>
							</div>
							<div class="panel-body">
								<p>Quelle commande Linux permet d'afficher les partitions disque ?</p>
							</div>
							<div class="panel-footer">
								<ul>
								   <input type="radio" name="question10" value="proposition1"> rdisk </br>
								   <input type="radio" name="question10" value="proposition2"> part </br>
								   <input type="radio" name="question10" value="proposition3"> fdisk
								</ul>
							</div>
						</article>

						<div class="row">
							<div class="col-sm-4 col-sm-offset-4 hidden-xs">
								<input type="submit" class="btn btn-success" value="Soummetre les réponses">
							</div>
							<div class="col-sm-4 col-sm-offset-4 visible-xs">
								<input type="submit" class="btn btn-success btn-block" value="Soummetre les réponses">
							</div>
						</div>
					</form>
				</section>
			</div>

			<div class="row">
				<footer class="col-xs-12">
					<p class="text-center">Copyrights</p>
				</footer>
			</div>

		</div>
	</body>
</html>