<!DOCTYPE html>
<html>
	<head>
		<title>Résultats"Matières"</title>		  <!--  A dynamiser avec PHP	-->
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/resultat.css">
	</head>

	<body>
		<div class="container-fluid">

			<div class="row">
				<header class="col-xs-12">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<p class="navbar-brand">Je Compose.com</p>
						</div>
						<ul class="nav navbar-nav pull-right hidden-xs text-center">
							<li>
								<a href="matieres.html"><span class="glyphicon glyphicon-book"></span><br>Mes matières</a>
							</li>
							<li>
								<a href="gerer_matieres.html"><span class="glyphicon glyphicon-plus-sign"></span> / <span class="glyphicon glyphicon-minus-sign"></span><br>Gérer mes matières</a>
							</li>
							<li>
								<a href="index.html"><span class="glyphicon glyphicon-log-out"><br></span><br>Déconnexion</a>
							</li>
						</ul>

						<div class="pull-left visible-xs navigateur">
							<p>
								<a href="matieres.html"><span class="glyphicon glyphicon-book"></span> Mes matières</a>
							</p>
							<p>
								<a href="gerer_matieres.html"><span class="glyphicon glyphicon-plus-sign"></span> / <span class="glyphicon glyphicon-minus-sign"></span> Gérer mes matières</a>
							</p>
							<p>
								<a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
							</p>
						</div>
					</nav>
				</header>
			</div>

			<section class="col-sm-6 col-sm-offset-3">
				<h1>Résultats</h1><br>

				<article class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 1</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li class="faux">Proposition 1</li>
							<li class="vrai">Proposition 2</li>
							<li>Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 2</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li>Proposition 2</li>
							<li class="vrai">Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 3</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li class="vrai">Proposition 2</li>
							<li>Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 4</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li class="vrai">Proposition 2</li>
							<li>Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 5</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li class="vrai">Proposition 1</li>
							<li class="faux">Proposition 2</li>
							<li>Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 6</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li class="vrai">Proposition 1</li>
							<li>Proposition 2</li>
							<li class="faux">Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 7</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li class="vrai">Proposition 2</li>
							<li>Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 8</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li class="faux">Proposition 2</li>
							<li class="vrai">Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 9</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li class="vrai">Proposition 2</li>
							<li>Proposition 3</li>
						</ul>
					</div>
				</article>

				<article class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Question 10</h3>
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="panel-footer">
						<ul>
							<li>Proposition 1</li>
							<li>Proposition 2</li>
							<li class="vrai">Proposition 3</li>
						</ul>
					</div>
				</article>
				<div class="row note">
					<div class="col-sm-12 text-center">
						<legend>Note et Mention</legend>
						<h1>12/20<br>Assez-bien</h1>
						
					</div>
				</div>


				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<a class="btn btn-warning btn-block" href="note.txt">Télécharger mon devoir <span class="glyphicon glyphicon-save"></span></a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 col-sm-offset-5">
						<a class="btn btn-success btn-block" href="matieres.html">OK <span class="glyphicon glyphicon-ok"></span> </a>
					</div>
				</div>
			</section>

			<div class="row">
				<footer class="col-xs-12">
					<p class="text-center">Copyright 2019 - Tout droit réservé.</p>
				</footer>
			</div>

		</div>
	</body>
</html>